/Estructura1/nbproject/private/
/Estructura1/build/
/Practica 1/Ejercicio1/nbproject/private/
/Practica 1/Ejercicio1/build/
/Practica 1/Ejercicio1/dist/
/Practica 1/Ejercicio2/nbproject/private/
/Practica 1/Ejercicio2/build/
/Practica 1/Ejercicio2/dist/
/EjercicioClase1/nbproject/private/
/EjercicioClase1/build/
/EjercicioClase1/dist/
/Practica2/nbproject/private/
/Practica2/build/
/Practica2/dist/
/Informe1/nbproject/private/
/EjercicioClase2/nbproject/private/
/EjercicioClase2/dist/
/EjercicioClase2/build/
/EjercicioClase3/nbproject/private/
/EjercicioClase3/dist/
/EjercicioClase3/build/
/Taller1/nbproject/private/
/Practica3/nbproject/private/
/Practica3/build/
/Practica3/dist/
/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/
/Taller2/nbproject/private/
/Taller2/build/
/TallerBusquedaLineal/nbproject/private/
/TallerBusquedaLineal/build/
/EjercicioClase5/nbproject/private/
/EjercicioClase5/build/
/Deber1/nbproject/private/
/Deber1/build/
/BusquedaBinaria/nbproject/private/
/BusquedaBinaria/build/
/Practica5/nbproject/private/
/Practica5/build/
/ProyectoI/build/
/ProyectoI/nbproject/private/
/ProyectoI/dist/
/ListaCircular/nbproject/private/
/ListaCircular/build/
/ListaCircularDoble/nbproject/private/
/ListaCircularDoble/build/
/Pilas/nbproject/private/
/Pilas/build/
/EjercicioClase12/nbproject/private/
/EjercicioClase12/build/
/Colas/nbproject/private/
/Practica8/nbproject/private/
/Practica8/build/
/Recursividad/nbproject/private/
/Recursividad/build/
/Arboles/nbproject/private/
/Arboles/build/
/Arbol/nbproject/private/
/Arbol/build/
/Arbol/dist/
/PruebaIIB/nbproject/private/
/PruebaIIB/build/
